
<div id="slider-offer-wrapper" class="wrapper">
    <div class="pagewidth">

        <div class="search-box">
            <h1>SEARCH BY <span>COMPANY</span></h1>
            <form>
                <input type="text" placeholder="COMPANY NAME" id="box1" />
                <input type="text" placeholder="CITY" id="box2" />
                <input type="submit" value="SEARCH" id="btn-search" />
            </form>
        </div>

        <h1 style="color: rgb(30, 38, 90); margin-bottom: 10px; font-size: 30px; font-weight: 400; padding-top: 30px; margin-left: 0px;">ABA SERVICE PROVIDERS</h1>
    </div>
    <div class="clear"></div>
</div>
<div id="new-jobs-wrapper" class="wrapper">
    <div class="pagewidth">
        <ul>
            <li>
                <img src="assets/img/job1.jpg" />
                <div class="box">
                    <h1>ABA SERVICE PROVIDER</h1>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
                    <div class="bottom">

                        <a href="viewcompanyprofile">VIEW DETAIL</a>
                    </div>
                </div>
            </li>
            <li>
                <img src="assets/img/job2.jpg" />
                <div class="box">
                    <h1>ABA SERVICE PROVIDER</h1>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
                    <div class="bottom">

                        <a href="viewcompanyprofile">VIEW DETAIL</a>
                    </div>
                </div>
            </li>
            <li>
                <img src="assets/img/job3.jpg" />
                <div class="box">
                    <h1>ABA SERVICE PROVIDER</h1>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
                    <div class="bottom">

                        <a href="viewcompanyprofile">VIEW DETAIL</a>
                    </div>
                </div>
            </li>
            <li>
                <img src="assets/img/job4.jpg" />
                <div class="box">
                    <h1>ABA SERVICE PROVIDER</h1>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
                    <div class="bottom">

                        <a href="viewcompanyprofile">VIEW DETAIL</a>
                    </div>
                </div>
            </li>
        </ul>
        <ul>
            <li>
                <img src="assets/img/job1.jpg" />
                <div class="box">
                    <h1>ABA SERVICE PROVIDER</h1>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
                    <div class="bottom">

                        <a href="viewcompanyprofile">VIEW DETAIL</a>
                    </div>
                </div>
            </li>
            <li>
                <img src="assets/img/job2.jpg" />
                <div class="box">
                    <h1>ABA SERVICE PROVIDER</h1>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
                    <div class="bottom">

                        <a href="viewcompanyprofile">VIEW DETAIL</a>
                    </div>
                </div>
            </li>
            <li>
                <img src="assets/img/job3.jpg" />
                <div class="box">
                    <h1>ABA SERVICE PROVIDER</h1>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
                    <div class="bottom">

                        <a href="viewcompanyprofile">VIEW DETAIL</a>
                    </div>
                </div>
            </li>
            <li>
                <img src="assets/img/job4.jpg" />
                <div class="box">
                    <h1>ABA SERVICE PROVIDER</h1>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
                    <div class="bottom">

                        <a href="viewcompanyprofile">VIEW DETAIL</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="clear"></div>
</div>

<div id="award-wrapper" class="wrapper" style="padding-bottom:0;">
    <div class="pagewidth">
        <ul>
            <li>
                <h1>182 000 <span>jobs offer</span></h1>
                <p>Sed ut perspiciatis unde omnis iste natus error</p>
            </li>
            <li>
                <h1>7 500 <span>registered companies</span></h1>
                <p>Sed ut perspiciatis unde omnis iste natus error</p>
            </li>
            <li>
                <h1>15 500 <span>satisfied customers</span></h1>
                <p>Sed ut perspiciatis unde omnis iste natus error</p>
            </li>
            <li>
                <h1>2 500 <span>job categories</span></h1>
                <p>Sed ut perspiciatis unde omnis iste natus error</p>
            </li>
        </ul>
        <div class="clear"></div>

    </div>
</div>