<div id="post-job-wrapper" class="wrapper" style="max-width:1180px; margin:0 auto; padding-top: 0px;">
    <div style="margin-top: 40px;">&nbsp;</div>

    <div style="float:left; padding:20px;">
        <a href="publishjob" class="btn-edit" id="app1" style="padding: 10px;font-size: 20px;">Job List</a>
    </div>
    <div class="pagewidth" style="max-width:1180px; margin:0 auto">
        <div class="box tabdiv" style="margin-bottom:20px;">
            <h1>ADD JOB APPLICATION</h1>
            <div>
                <form id="postjobform">
                    @*<input style="float:left;" type="text" placeholder="School/College Name " class="formfull">
                        <input placeholder="COMPANY NAME" type="text" class="formfull">*@
                    <input placeholder="JOB TITLE" ng-model="jobsModel.Title" type="text" class="formfull">
                    <input placeholder="START DATE" ng-model="jobsModel.StartDate" type="text" class="formhalf formfull">
                    <input placeholder="END DATE" ng-model="jobsModel.EndDate" type="text" class="formhalf formfull">
                    @*<input placeholder="NO. OF VACANCY" type="text" class="formhalf formfull">*@
                    <textarea placeholder="JOB DESCRIPTION" ng-model="jobsModel.Description" style="resize: none; height: 120px;" class="formfull"></textarea>
                    @*<div class="formhalf formfull" style="float:left;">
                            ADD INDUSTRIES
                            <br>
                            <select class="formfull" multiple="">
                                <option value="INDUSTRIES1">INDUSTRIES1</option>
                                <option value="INDUSTRIES2">INDUSTRIES2</option>
                                <option value="INDUSTRIES3">INDUSTRIES3</option>
                            </select>
                        </div>
                        <div class="formhalf formfull" style="float:left;">
                            ADD SKILL SET
                            <br>
                            <select class="formfull" multiple="">
                                <option value="INDUSTRIES1">INDUSTRIES1</option>
                                <option value="INDUSTRIES2">INDUSTRIES2</option>
                                <option value="INDUSTRIES3">INDUSTRIES3</option>
                            </select>
                        </div>
                        <div class="formhalf formfull" style="float:left;">
                            ADD RESPONSIBILITIES
                            <br>
                            <select class="formfull" multiple="">
                                <option value="INDUSTRIES1">INDUSTRIES1</option>
                                <option value="INDUSTRIES2">INDUSTRIES2</option>
                                <option value="INDUSTRIES3">INDUSTRIES3</option>
                            </select>
                        </div>
                        <div class="formhalf formfull" style="float:left;">
                            QUALIFICATION
                            <br>
                            <select class="formfull" multiple="">
                                <option value="INDUSTRIES1">INDUSTRIES1</option>
                                <option value="INDUSTRIES2">INDUSTRIES2</option>
                                <option value="INDUSTRIES3">INDUSTRIES3</option>
                            </select>
                        </div>
                        <input placeholder="JOB LEVEL" type="text" class="formhalf formfull">
                        <input placeholder="LAST DATE TO APPLY" type="text" id="lastdatetoappy" class="formhalf formfull">
                        <input placeholder="INTERVIEW BETWEEN" type="text" class="formhalf formfull">
                        <input placeholder="LOCATION" type="text" class="formhalf formfull">
                        <input placeholder="WEBSITE URL" type="text" class="formhalf formfull">
                        <input placeholder="SALARY PACKAGES" type="text" class="formhalf formfull">
                        <textarea placeholder="EXPERIENCE" class="formfull" style="resize: none; height: 120px;"></textarea>*@
                    <p></p>
                    <input type="button" ng-click="createJob(jobsModel)" value="ADD" class="add1button" ng-hide="isEditMode">
                    <input type="button" ng-click="updateJob(jobsModel)" value="UPADATE" ng-show="isEditMode" class="add1button" style="background:#1B265A;border:12px solid  #1B265A">
                    <div class="clear"></div>
                </form>
            </div>
        </div>
    </div>
</div>
@*<script>
        function viewcandidate(elem) {
            var id = elem.id;
            $("#" + id).attr("onclick", "closeallcandidate(this)");
            $(".candidatelist").slideUp();
            $("#candidate" + id).slideDown();
        }
        function closeallcandidate(elem) {
            var id = elem.id;
            $("#" + id).attr("onclick", "viewcandidate(this)");
            $(".candidatelist").slideUp();
        }
    </script>*@