<div id="post-job-wrapper" class="wrapper" style="padding-top: 0px;">
    
    <div class="pagewidth" style=" max-width:1180px; padding:10px;">
        <div style="float:left; padding:20px;">
            <a href="publishjob" class="btn-edit" id="app1" style="padding: 10px;font-size: 20px;">JobList</a>
        </div>

        <div class="right-side" style="clear:both;margin-top:0;">
            <div class="formfull" id="set" style="margin:0px;">
                <h1 style="color: rgb(254, 85, 0); margin-bottom:45px;">Required for post in company</h1>
                <a class="btn-edit" style="cursor: pointer; margin-top:-45px;" onclick="appljob(this)">Apply</a>
                <div style="font-size:16px;">
                    <p class="odd" style="float:none;padding-left: 10px;">Vacancy <span>20</span></p>
                    <p style="float:none;padding-left: 10px;">Company name</p>
                    <p class="description odd" style="padding-left:10px;">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris convallis sodales velit in interdum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nullam ligula quam, consequat blandit iaculis sit amet, sagittis at tortor. Donec eleifend posuere nibh ornare lobortis. Duis hendrerit mi vel eros scelerisque, quis bibendum libero sodales.
                    </p>
                    <p style="float:none;padding-left: 10px;">Last Date to Apply <span>10-10-2016</span></p>
                    <p class="odd" style="float:none;padding-left: 10px;">Interview Between <span>12-10-2016 to 15-10-2016</span></p>
                    <p class="even" style="float:none;padding-left: 10px;">Job level <span>Operator</span></p>
                    <p class="odd" style="float:none;padding-left: 10px;">Package <span>2.20 - 3.20 Lpa</span></p>
                    <p class="even" style="float:none;padding-left: 10px;">Location <span>Varachha</span></p>
                    <p class="odd" style="float:none;padding-left: 10px;">Website <span>Website.com</span></p>
                    <p style="float:none;padding-left: 10px;font-size:18px;">Experience</p>

                    <p class="description even" style="padding-left: 10px;">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris convallis sodales velit in interdum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                    </p>
                </div>

            </div>
            <div class="box" style="margin-left:0px; width: 98%;">
                <div class="top" style="padding: 26px;">
                    <p style="float: none;"><a href="viewprofile.html" class="jobapp"> Candidate name</a></p>
                    <p>Applied on <span class="detail">10-10-2013</span> </p>
                    <br /><br />
                    <span class="detail">Jobtitle</span>
                    <br /><br />
                    <hr style="color: rgb(255, 255, 255);" />
                </div>
                <div class="top" style="padding: 26px;">
                    <p style="float: none;"><a href="viewprofile.html" class="jobapp"> Candidate name</a></p>
                    <p>Applied on <span class="detail">10-10-2013</span> </p>
                    <br /><br />
                    <span class="detail">Jobtitle</span>
                    <br /><br />
                    <hr style="color: rgb(255, 255, 255);" />
                </div>
                <div class="top" style="padding: 26px;">
                    <p style="float: none;"><a href="viewprofile.html" class="jobapp"> Candidate name</a></p>
                    <p>Applied on <span class="detail">10-10-2013</span> </p>
                    <br /><br />
                    <span class="detail">Jobtitle</span>
                    <br /><br />
                    <hr style="color: rgb(255, 255, 255);" />
                </div>
            </div>

        </div>
        <div class="left-side" style="margin-top:0;">
            <div class="formfull" id="set" style="margin: 0px;">
                <h1 style="color: rgb(254, 85, 0);  font-size: 20px;padding-bottom: 15px;">INDUSTRIES</h1>
                <ul class="ulspecification" style="margin-top: 0px;">
                    <li class="odd">luctus metus</li>
                    <li class="even">scelerisque</li>
                    <li class="odd">efficitur</li>
                    <li class="even">adipiscing</li>
                </ul>
            </div>
            <br />
            <div class="formfull" id="set" style="margin: 0px;">
                <h1 style="color: rgb(254, 85, 0);  font-size: 20px;padding-bottom: 15px;">SKILL SET</h1>
                <ul class="ulspecification" style="margin-top: 0px;">
                    <li class="odd">luctus metus</li>
                    <li class="even">scelerisque</li>
                    <li class="odd">efficitur</li>
                    <li class="even">adipiscing</li>
                </ul>
            </div>
            <br />
            <div class="formfull" id="set" style="margin: 0px;">
                <h1 style="color: rgb(254, 85, 0);  font-size: 20px;padding-bottom: 15px;">RESPONSIBILITIES</h1>
                <ul class="ulspecification" style="margin-top: 0px;">
                    <li class="odd">luctus metus</li>
                    <li class="even">scelerisque</li>
                    <li class="odd">efficitur</li>
                    <li class="even">adipiscing</li>
                </ul>
            </div>
            <br />
            <div class="formfull" id="set" style="margin: 0px;">
                <h1 style="color: rgb(254, 85, 0);  font-size: 20px;padding-bottom: 15px;">QUALIFICATION</h1>
                <ul class="ulspecification" style="margin-top: 0px;">
                    <li class="odd">luctus metus</li>
                    <li class="even">scelerisque</li>
                    <li class="odd">efficitur</li>
                    <li class="even">adipiscing</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="overlay" style="position: fixed; left: 0px; height: 100%; width: 100%; display: none; background-color: rgba(0, 0, 0, 0.3); top: 0px;z-index:2;"></div>
<div>
    <div class="box formfull applydiv" style="width: 100%; display:none; text-align: center;  padding-bottom: 20px; max-width: 300px; margin: 0px auto; position: fixed; top: 15%; left: 33%; z-index: 101; background-color: rgb(255, 255, 255);">

        <h1 style="font-size: 24px;  margin-left: 10px; font-weight: 400; color: #fe5a00;">ATTACH RESUME</h1>
        <span onclick='close1();' style="position: relative; float: right; top: -28px;left:12px; cursor:pointer;"> X</span>

        <form id="achivementform">


            <input placeholder="Upload Image" class="formfull" type="file" />
            <input value="SEND" onclick="close1();" style="background: #FE5500;border: 12px solid #FE5500;border-right: 20px;font-size: 12px;text-decoration: none;color: #fff;font-weight: 300;padding-right: 40px;padding-left: 25px;margin-top: 15px;margin-bottom: 15px;" type="button" />
            <div class="clear"></div>
        </form>
    </div>
</div>
<script>
    
    function appljob(elem) {
        $(".overlay").show();
        $(".applydiv").show();
    }
    function close1() {
        $(".overlay").hide();
        $(".applydiv").hide();
    }
</script>