<div id="slider-offer-wrapper" class="wrapper" style="height:160px !important">
    <div class="pagewidth">
        <div style="height:0px;">
            <h1><span>&nbsp;</span></h1>

        </div>
        <div class="search-box">
            <h1>SEARCH BY <span>COMPANY</span></h1>
            <form>
                <input type="text" placeholder="COMPANY NAME" id="box1">
                <input type="text" placeholder="CITY" id="box2">
                <input type="submit" value="SEARCH" id="btn-search">
            </form>
        </div>

        <div class="clear"></div>
    </div>
</div>
<div id="content-wrapper" class="wrapper">
    <div class="pagewidth" style="margin-top: 45px;">

        <div class="left-side">

            <div class="box2" style="margin-top:0px;">
                <h1 style="color: rgb(30, 38, 90); margin-bottom: 10px; font-size: 22px; font-weight: 400; margin-left: 20px;">Search Job</h1>
                <h1>Filter</h1>

                <h2 style=" margin-top: 25px;">CATEGORY</h2>
                <select id="Select1">
                    <option>CATEGORY 1</option>
                    <option>CATEGORY 2</option>
                </select>


                <h2 style="margin-top: 17px;">LOCATION</h2>
                <select>
                    <option>SURAT</option>
                    <option>AHMEDABAD</option>
                    <option>VADODARA</option>
                </select>

                <h2 style="margin-top: 19px;position: relative;">DESIGNATION</h2>
                <input type="text" style="width: 80%;">

                <h2 style="margin-top: 67px;">SKILL SET</h2>
                <input type="text" style="width: 80%;">

                <h2 style="margin-top: 67px;">EXPERIENCE</h2>
                <select>
                    <option>0 TO 1 YEAR</option>
                    <option>2 TO 3 YEAR </option>
                    <option>4 TO 6 YEAR</option>
                </select>





                <input type="submit" value="SEARCH" id="sent" style="width: 80%; background-color: rgb(254, 90, 0); color: rgb(255, 255, 255); margin-bottom: 10px; position: relative; float: none;">

            </div>
        </div>
        <div class="right-side">
            <h1 style="color: rgb(30, 38, 90); margin-bottom: 10px; font-size: 30px; font-weight: 400; padding-top: 17px; margin-left: 30px;">AVAILABLE JOBS ABA</h1>
            <div class="clear"></div>
            <ul>
                <li>
                    <div class="box">
                        <img src="assets/img/job2.jpg" id="photo">
                        <div class="top">
                            <h1>Social Media Marketing</h1>
                            <p>Sed ut perspiciatis unde omnis istenatus error sit voluptatem accusantium</p>
                            <p>skill set : facebook, twiter, etc </p>
                            <p>Experience : Expert</p>
                            <div class="date">INDIA</div>
                        </div>
                        <div class="bottom">
                            <p class="time">POST DATE : <span>17-10-2015</span></p>
                            <p class="sale">POST BY : <span>COMPANY NAME</span></p>
                            <div class="clear"></div>
                            <a href="jobDetail" class="btn-edit">DETAIL</a>
                            <a href="viewcompanyprofile" class="btn-view">COMPANY NAME</a>
                        </div>
                    </div>

                </li>
                <li>
                    <div class="box">
                        <img src="assets/img/job3.jpg" id="photo">
                        <div class="top">
                            <h1>Social Media Marketing</h1>
                            <p>Sed ut perspiciatis unde omnis istenatus error sit voluptatem accusantium</p>
                            <p>skill set : facebook, twiter, etc </p>
                            <p>Experience : Expert</p>
                            <div class="date">India</div>
                        </div>
                        <div class="bottom">
                            <p class="time">POST DATE : 17-10-2015</span></p>
                            <p class="sale">POST BY : COMPANY NAME</span></p>
                            <div class="clear"></div>
                            <a href="jobDetail" class="btn-edit">DETAIL</a>
                            <a href="viewcompanyprofile" class="btn-view">COMPANY NAME</a>
                        </div>
                    </div>

                </li>
                <li>
                    <div class="box">
                        <img src="assets/img/job1.jpg" id="photo">
                        <div class="top">
                            <h1>Beautician</h1>
                            <p>Sed ut perspiciatis unde omnis istenatus error sit voluptatem accusantium</p>
                            <p>skill set : facebook, twiter, etc </p>
                            <p>Experience : Expert</p>
                            <div class="date">India</div>
                        </div>
                        <div class="bottom">
                            <p class="time">POST DATE : 17-10-2015</span></p>
                            <p class="sale">POST BY : COMPANY NAME</span></p>
                            <div class="clear"></div>
                            <a href="jobDetail" class="btn-edit">DETAIL</a>
                            <a href="viewcompanyprofile" class="btn-view">COMPANY NAME</a>
                        </div>
                    </div>

                </li>
                <li>
                    <div class="box">
                        <img src="assets/img/job1.jpg" id="photo">
                        <div class="top">
                            <h1>Beautician</h1>
                            <p>Sed ut perspiciatis unde omnis istenatus error sit voluptatem accusantium</p>
                            <p>skill set : facebook, twiter, etc </p>
                            <p>Experience : Expert</p>
                            <div class="date">India</div>
                        </div>
                        <div class="bottom">
                            <p class="time">POST DATE : 17-10-2015</span></p>
                            <p class="sale">POST BY : COMPANY NAME</span></p>
                            <div class="clear"></div>
                            <a href="jobDetail" class="btn-edit">DETAIL</a>
                            <a href="viewcompanyprofile" class="btn-view">COMPANY NAME</a>
                        </div>
                    </div>

                </li>
                <li>
                    <div class="box">
                        <img src="assets/img/job1.jpg" id="photo">
                        <div class="top">
                            <h1>Beautician</h1>
                            <p>Sed ut perspiciatis unde omnis istenatus error sit voluptatem accusantium</p>
                            <p>skill set : facebook, twiter, etc </p>
                            <p>Experience : Expert</p>
                            <div class="date">India</div>
                        </div>
                        <div class="bottom">
                            <p class="time">POST DATE : 17-10-2015</span></p>
                            <p class="sale">POST BY : COMPANY NAME</span></p>
                            <div class="clear"></div>
                            <a href="jobDetail" class="btn-edit">DETAIL</a>
                            <a href="viewcompanyprofile" class="btn-view">COMPANY NAME</a>
                        </div>
                    </div>

                </li>
            </ul>
        </div>

        <div class="clear"></div>
        <ul class="nav">
            <li><div class="arrow-back"></div></li>
            <li><a href="">1</a></li>
            <li><a href="">2</a></li>
            <li><a href="">3</a></li>
            <li><a href="">4</a></li>
            <li><div class="arrow-forward"></div></li>
        </ul>
    </div>

</div>

<div id="award-wrapper" class="wrapper">
    <div class="pagewidth">
        <ul>
            <li>
                <h1>182 000 <span>jobs offer</span></h1>
                <p>Sed ut perspiciatis unde omnis iste natus error</p>
            </li>
            <li>
                <h1>7 500 <span>registered companies</span></h1>
                <p>Sed ut perspiciatis unde omnis iste natus error</p>
            </li>
            <li>
                <h1>15 500 <span>satisfied customers</span></h1>
                <p>Sed ut perspiciatis unde omnis iste natus error</p>
            </li>
            <li>
                <h1>2 500 <span>job categories</span></h1>
                <p>Sed ut perspiciatis unde omnis iste natus error</p>
            </li>
        </ul>

    </div>
</div>