<div id="post-job-wrapper" class="wrapper" style="max-width:1180px; margin:0 auto; padding-top: 0px;">
    <div class="pagewidth" style="max-width:1180px; margin:0 auto">
        <div class="pagewidth">
            <div class="box" style="padding: 40px 12%;">
                <table>
                    <tr style="background-color: #ededed">
                        <td>Order Date </td>
                        <td>Payment Details </td>
                        <td>Approved Date </td>
                        <td>Package Name </td>
                        <td>Status </td>
                    </tr>
                    <tr>
                        <td>10-10-2015</td>
                        <td>Payment</td>
                        <td>12-10-2015</td>
                        <td>Approved </td>
                        <td>Approved </td>
                    </tr>
                    <tr>
                        <td>10-10-2015</td>
                        <td>Payment</td>
                        <td>12-10-2015</td>
                        <td>Approved </td>
                        <td>Approved </td>
                    </tr>
                    <tr>
                        <td>10-10-2015</td>
                        <td>Payment</td>
                        <td>12-10-2015</td>
                        <td>Approved </td>
                        <td>Approved </td>
                    </tr>
                </table>
            </div>

        </div>
    </div>
</div>

