<div id="set" class="formfull">
    <input name="company" id="company" onclick="addform(this)" type="submit" value="ADD" class="addbutton addprofile">
    <h1 style="margin-top:10px;" class="set">Add Language </h1>
    <hr>
    <form id="companyform" style="display:none; text-align: right;">
        <img src="assets/img/close.png" style="cursor:pointer;" onclick="hideform(this)" name="company">
        <input style="float:left;" type="text" placeholder="COMPANY NAME" class="formfull">
        <input type="submit" value="SUBMIT" class="addbutton">
    </form>
    <span id="company1" name="company" class="tagset">English</span>
    <span id="company1" name="company" class="tagset">Thai</span>
    <span id="company1" name="company" class="tagset">Hindi</span>
</div>