<div id="set" class="formfull">
    <input type="submit" name="Education" id="Education" onclick="addform(this)" value="ADD" class="addbutton addprofile">
    <h1 style=" margin-top:10px;">Education Set</h1>
    <br>
    <hr>
    <form id="Educationform" style="display:none; text-align: right;">
        <img src="assets/img/close.png" style="cursor:pointer;" onclick="hideform(this)" name="Education">
        <input type="text" placeholder="School/College Name " class="formfull">
        <input type="text" placeholder="START DATE" id="educationstartdate" class="formfull">
        <input type="text" placeholder="END DATE" id="educationenddate" class="formfull ">
        <textarea placeholder="Study Information" class="formfull" style="resize: none; height: 150px;"></textarea>
        <input type="submit" value="SUBMIT" class="addbutton">
    </form>
    <div class="finalset" id="skillsetsave">
        <input type="submit" value="EDIT" name="Education" id="Education1" onclick="addform(this)" class="addbutton editprofile" style="display: none;">
        <p class="editablelabel companydata "><span class="text">School/Collage Name</span></p>
        <p class="editablelabel companydata "><span class="text">Start Date To End Date</span></p>
        <br>
        <br>
        <hr>
    </div>
    <div class="finalset" id="skillsetsave">
        <input type="submit" name="Education" id="Education1" onclick="addform(this)" value="EDIT" class="addbutton editprofile" style="display: none;">
        <p class="editablelabel companydata "><span class="text">School/Collage Name</span></p>
        <p class="editablelabel companydata "><span class="text">Start Date To End Date</span></p>
        <br>
        <br>
        <hr>
    </div>
    <div class="finalset" id="skillsetsave">
        <input type="submit" name="Education" id="Education1" onclick="addform(this)" value="EDIT" class="addbutton editprofile" style="display: none;">
        <p class="editablelabel companydata "><span class="text">School/Collage Name</span></p>
        <p class="editablelabel companydata "><span class="text">Start Date To End Date</span></p>
        <br>
        <br>
    </div>
    <hr>
</div>
