<div id="set" class="formfull">
    <input name="Summery" id="Summery" onclick="addform(this)" type="submit" value="EDIT" class="addbutton addprofile">
    <h1 style="margin-top:10px;">Summery</h1>
    <br>
    <hr>
    <div class="finalset">
        <form id="Summeryform" style=" border:1px; text-align:right; display:none;">
            <img src="assets/img/close.png" style="cursor:pointer;" onclick="hideform(this)" name="Summery">
            <textarea class="formfull" style="resize:none; height:200px;"></textarea>
            <input type="submit" value="SUBMIT" class="addbutton">
        </form>
    </div>
    <div class="finalset">
        <p class="companydata "><span class="text">Summery Summery SummerySummery Summery Summery SummerySummery Summery Summery SummerySummery Summery Summery SummerySummery Summery Summery SummerySummery Summery Summery SummerySummery Summery Summery SummerySummery Summery Summery SummerySummery </span></p>
    </div>
</div>
