<div class="right-side">
    <div>
        @{Html.RenderPartial("ProfileSummery");
        Html.RenderPartial("ProfileExperiance");
        Html.RenderPartial("ProfileAchievement");
        Html.RenderPartial("ProfileEducation");}
    </div>
    @{Html.RenderPartial("ProfileSkillSet");
    Html.RenderPartial("ProfileLanguage");}
</div>